body{
    height: 100vh;
    font-family: var(--mainFont);
    background-image: url("/assets/startBackground.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#startScreenMainContent{
    height: 100vh;
}

#startScreenMainContentSection, #startScreenMainContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#startScreenMainContentButtonsContainer{
    width: 100%;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
}

#startScreenMainContentTitle{
    font-size: 7rem;
    color: var(--white);
}

#startScreenMainContentStartButton, #startScreenMainContentOptionsButton{
    font-family: var(--mainFont);
    font-size: 1.5rem;
}